# Copy to .env on EC2 and fill in real values
# Never commit .env to git

# Airflow
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=your_generated_fernet_key_here

# Airflow metadata DB
# Option 1: SQLite (simplest, fine for single EC2 instance)
# AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////home/ec2-user/medicare-analytics/airflow-db/airflow.db
# Option 2: External RDS postgres (uncomment if you add RDS later)
# AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://user:pass@rds-endpoint:5432/airflow
# Option 3: Postgres in a container
AIRFLOW_POSTGRES_USER=airflow
AIRFLOW_POSTGRES_PASSWORD=airflow
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow

# AWS
AWS_REGION=us-east-1

# S3
S3_BUCKET=medicare-analytics-raw-rdaniels

# Redshift Serverless
REDSHIFT_WORKGROUP=medicare-analytics-workgroup
REDSHIFT_DATABASE=medicare_db
# Get this from: tofu output redshift_workgroup_endpoint
REDSHIFT_ENDPOINT=your-workgroup.account-id.us-east-1.redshift-serverless.amazonaws.com
# Get this from: tofu output in iam.tf redshift_s3_role arn
REDSHIFT_IAM_ROLE=arn:aws:iam::your-account-id:role/medicare-analytics-redshift-s3-role
REDSHIFT_ADMIN_USERNAME=your_db_admin_username