# .gitignore

# Credentials & secrets
.env
dbt_profiles/

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/

# Airflow
logs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# VS Code
.vscode/

data/

commands

dags_archive/