# .gitignore

# Credentials & secrets
.env
dbt_profiles/.user.yml
secrets.toml

# Python
.venv/
__pycache__/
*.pyc
*.egg-info/

# Airflow
logs/

# dbt
medicare_dbt/target/
medicare_dbt/logs/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# VS Code
.vscode/

# Data
data/

# OpenTofu / Terraform
.terraform/
terraform.tfvars
infra/terraform.tfvars
infra/terraform.tfstate
infra/terraform.tfstate.backup

# Project-specific
commands_and_settings
dags_archive/
archive/